    /* Set the size of the gmp-map element that contains the map */
gmp-map {
    height: 600px; /* The height is 400 pixels */
    width: 100%; /* The width is the width of the web page */
}
.map-wrapper {
    position: relative;
    background-color: #fff;
}
.map-wrapper .container-fluid{
    padding: 0;
}
.filter-options{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    background: rgba(255, 255, 255, 0.8);
    padding: 20px;
}
.desc-wrapper{
    overflow-y: auto;
    height: 600px;
    text-align: left;
}
.desc-view .col-sm-4, .desc-view .col-sm-8, .desc-view .container-fluid, 
.map-wrapper .col-sm-8, .map-wrapper .col-sm-4 {
    padding: 0;
}
.desc-view .col-sm-8{
    padding-left: 10px;
}
.desc-view .container-fluid{
    border: 1px solid rgb(158, 160, 162);
    position: relative;
    clear: both;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.desc-view .col-sm-4{
    display: flex;
    justify-content: center;
    align-items: center;
}
.desc-view .col-sm-8 p{
    font-size: 1.2rem;  
    color: #000;  
}
.desc-view .col-sm-8 a{
    color: #865e20 !important;
}
.desc-view .col-sm-8 h6{
    color: #865e20 !important;
}
.highlight{
    background-color: #e8ecef;
}
.highlight .col-sm-8 p{
    color: #000;
}
.highlight .col-sm-8 h6{
    color: #865e20 !important;
}
.highlight .col-sm-8 a{
    color: #865e20 !important;
}